.custom-button {
    background-color: #5dcaaa;
    color: black;
}

.custom-button:hover {
    background-color: #e2dc86;
    color: black
}

.custom-label {
    font-size: 20px;
}

.display-message {
    font-size: 15px;
    font-weight: bold;
}