.custom-header {
    background-color: #e2dc86;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: inline-block;
}

.main-logo {
    margin: 10px 5px
}

.text-green {
    color: #5dcaaa
}